.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #000000;
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #4d4e52;
  font-size: 18px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 50px;
  border-radius: 4px;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
